<!DOCTYPE html>
<html lang="fi">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<%- include("partials/header.ejs", {microphones: microphones}); %>
	<%- include("partials/poster.ejs", {site_title: site_title}); %>
	<div id="content">
		<img src="/images/<%= image %>" class="img-microphone">
		<div id="about">
			<h1><%= name %></h1>
			<p><%- text %></p>
		</div>
	</div>
	<% include partials/scripts.ejs %>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>